/*
  Rock Paper Scissors Game css sheet
  Bo Slott
  September 2017
*/

/* Typography */

* {
  box-sizing: border-box;
}

/* Structure */

  /* Site Header */

    nav {
      margin-bottom: 100px;
    }

    .fix-top {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 999;
    }

    .logo {
      padding: 10px;
      margin-left: 40px;
      background-color: #283b97;
      color: #fff;
      font-size: 30px;
      border-style: solid;
      border-color: #efefef;
      border-width: 1px;
    }

  /* Site Content */

    /* User Move */

      .choose-one-banner {
        background-color: #e6e8ed;
        border-style: solid;
        border-color: #283b97;
        border-width: 8px;
        border-radius: 20%;
        color: #8cc642;
        text-align: center;
        font-size: 30px;
        width: 36%;
        margin: 0 auto 20px;
        padding-bottom: 10px;
      }


      .game-img {
        width: 100%;
      }

    /* Game Play */



      #gamePlay-display {
        display: none;
        padding-top: 30px;
        margin-top: 40px;
        border-style: solid;
        border-color: #efefef;
        border-width: 1px 0 0;
      }

        #rock-choice {
          display: none;
        }

        #paper-choice {
         display: none;
        }

        #scissors-choice {
          display: none;
        }

        .gamePlay-display-content {
          margin-bottom: 20px;
        }

     

        .gamePlay-display-headers {
          text-align:center;
          color: #8cc642;
          padding: 30px;
          font-size: 30px;
        }

        .gamePlay-display-choices {
          margin: 20px 0;
        }

        .see-results-button {
          width: 40%;
          border-style: solid;
          border-color: #8cc642;
          border-width: 2px;
          color: #8cc642;
          font-size: 30px;
          margin: 0 auto;
          text-align: center;
          padding: 10px 20px 40px;
        }

        

     /* Scoreboard */


     #sb-content-box {
      display: none;
     }     

      .gamePlay-display-results {
          display: none;
          color: #8cc642;
          font-size: 30px;
          text-align: center;
        }

        

      #scoreboard-display {
        display: none;
        padding-top: 30px;
        margin-top: 40px;
        border-style: solid;
        border-color: #efefef;
        border-width: 1px 0 0;
      }


      .scoreboard-content-box {
          
          padding: 20px;
          text-align: center;
        }

      .scoreboard-var-names {
          color: #8cc642;
          font-size: 30px;
        }

      .scoreboard-var-values {
          color: #8cc642;
          font-size: 30px;
        }

      #play-again-button {
        display: none;
        width: 40%;
        border-style: solid;
        border-color: #8cc642;
        border-width: 2px;
        color: #8cc642;
        font-size: 30px;
        margin: 20px auto;
        text-align: center;
        padding: 10px 20px 40px;
      }

      .play-again-button a, a:link, a:visited, a:hover, a:active {
        color: #8cc642;
        text-decoration: none;
      }

     
     #startover {
      display: none;
      /*width: 40%;
      border-style: solid;
      border-color: #8cc642;
      border-width: 2px;
      color: #8cc642;
      font-size: 30px;
      margin: 20px auto;
      text-align: center;
      padding: 10px 20px 40px;*/
     }






  /* Site Footer */

    .site-footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-color: #efefef;
      border-style: solid;
      border-color: #efefef;
      border-width: 1px 0 0;
      color: #283b97;
      text-align: center;
      padding-bottom: 10px;
    }



    .site-footer h2 {
      font-size: 12px;
    }

/* General */


